/*  Card Settings   */
:any-link {
    text-decoration: none;
    text-decoration-color: none;
}


.card:hover {
    box-shadow: 0px 0px 22px #6343DE;
}

.card-slidemode {
    position: absolute;
}

.highlight {
    border: solid 2px #6343DE;
    animation: boxshadow 5s infinite;
}

@keyframes boxshadow {
    0% {
        box-shadow: 0px 0px 32px #6343DE;
    }

    50% {
        box-shadow: 0px 0px 26px #6343DE;
    }

    100% {
        box-shadow: 0px 0px 32px #6343DE;
    }
}


.profil-picture {
    display: flex;
    width: 8rem;
    height: 8rem;
    background-color: var(--profil-pict-bg);
    background: url('../profil-pictures/none.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    border: var(--profil-pict-brd);
    border-radius: 100%;
    margin: auto;
}
.profil-picture::after {
    display: flex;
    width: 8rem;
    height: 8rem;
    background-color: var(--profil-pict-bg);
    background: url('../profil-pictures/none.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: var(--profil-pict-brd);
    border-radius: 100%;
    margin: auto;
}

.card-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 0.5rem;
}

.card-username {
    font-family: var(--font-familly);
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

.card-age {
    font-family: var(--font-familly);
    color: var(--font-color);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.card-about-title {
    font-family: var(--font-familly);
    color: var(--font-color);
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
}

.card-about-text {
    font-family: var(--font-familly);
    color: var(--font-color);
    font-weight: 200;
    font-size: 0.8rem;
    text-align: center;
}

.card-contact-button {
    display: flex;
    width: auto;
    padding: 1rem;
    justify-content: center;
    background: var(--btn-bg-color);
    border: none;
    border-radius: var(--btn-brd-radius);
    font-family: var(--font-familly);
    color: var(--btn-text-color);
    font-weight: 500;
    font-size: 1.2rem;
}



.card-contact-button:hover {
    background: var(--btn-bg-color-hover);
    transform: scale(0.9);
}

.card-link-section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: var(--social-icons-gap);
}

.link-logo {
    width: var(--social-icons-size);
    height: var(--social-icons-size);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.link-logo:hover {
    display: flex;
    transform: scale(0.9);
    filter: brightness(40%);
}

.facebook {
    background-image: url(../../src/social-icons/Facebook.svg);
    filter: var(--ico-invert-color);
}

.x {
    background-image: url(../../src/social-icons/X.svg);
    filter: var(--ico-invert-color);
}

.instagram {
    background-image: url(../../src/social-icons/Instagram.svg);
    filter: var(--ico-invert-color);
}

.linkedin {
    background-image: url(../../src/social-icons/LinkedIn.svg);
    filter: var(--ico-invert-color);
}

.github {
    background-image: url(../../src/social-icons/GitHub.svg);
    filter: var(--ico-invert-color);
}

.behance {
    background-image: url(../../src/social-icons/Behance.svg);
    filter: var(--ico-invert-color);
}

.figma {
    background-image: url(../../src/social-icons/Figma.svg);
    filter: var(--ico-invert-color);
}

.notion {
    background-image: url(../../src/social-icons/notion.svg);
    filter: var(--ico-invert-color);
}

/*  Background Cards Settings   */

@media screen and (min-width: 300px){
    .card-blur {
    filter: blur(3px);
    --moz-filter: blur(3px);
    --webkit-filter: blur(3px);
    }
    .card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background: var(--card-bg-color);
        border-radius: var(--card-brd-radius);
        
        width: 300px;
        min-height: 500px;
        padding: 1rem;
        gap: var(--gap-section);
        margin: auto;
        transition: all 0.3s ease-in-out;
        box-shadow: none;
        border: solid 1px #6343DE;
    
    }
}
@media screen and (max-width: 299px){
    .card-blur {
        filter: blur(3px);
        --moz-filter: blur(3px);
        --webkit-filter: blur(3px);
        }
       
    .card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background: var(--card-bg-color);
        border-radius: var(--card-brd-radius);
        width: 240px;
        min-height: 500px;
        padding: 1rem;
        gap: var(--gap-section);
        margin: auto;
        transition: all 0.3s ease-in-out;
        box-shadow: none;
        border: solid 1px #6343DE;
    }
}

