* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    text-decoration-color: none;
}


::-webkit-scrollbar {
    width: 0;
    display: none;

}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);


}

/* navbar*/
nav {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 1.6rem;
    box-sizing: border-box;

}

.logo {
    display: flex;
    background: url(../svg/logo-bookofwilders.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10rem;
    filter: var(--ico-invert-color);
}

.logo:hover {
    transform: scale(0.9);
}

.nav-btn-section {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.searchBar {
    display: flex;
    background: url(../svg/searchbutton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.6rem;
    height: 2.6rem;
    cursor: pointer;
    border: none;
    filter: var(--ico-invert-color);
    transition: none;
}


.searchBar:hover {
    background: url(../svg/searchbuttonhover.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: none;
    transform: scale(0.9);
}

.lightdarkmode {
    display: flex;
    background: var(--ico-theme-std);
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.6rem;
    height: 2.6rem;
    cursor: pointer;
    border: none;
    filter: var(--ico-invert-color);
    transition: none;
}

.lightdarkmode input {
    display: none;
}

.lightdarkmode:hover {
    background: var(--ico-theme-hover);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: none;
    transform: scale(0.9);
}

/* Titles settings */

.title {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin: auto;
    font-family: var(--font-familly);
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--color-secondary);
    text-align: center;
}

.title-separate {
    display: flex;
    width: 80%;
    border: solid 0.15rem var(--color-purple);
    margin: auto;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.4rem;
}




/* Carrousel settings */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 10rem;
    gap: 3rem;
    box-sizing: border-box;
}

.selectedwilders {
    display: flex;
    width: 100%;
    height: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.button-slide {
    display: flex;
    padding: 1rem;
    border: none;
    filter: var(--ico-invert-color);
}

.wilders-carrousel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* About Section */

@media screen and (min-width: 1000px) {
    .content-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
    }

    .aboutPicture {
        display: flex;
        min-width: 70ch;
        min-height: 50vh;
        background-image: url(../webp/about-picture.webp);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    .aboutText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65ch;
        gap: 2rem;
        font-family: var(--font-familly);
        font-weight: 100;
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--color-white);
    }
}

@media screen and (max-width: 999px) {
    .content-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .aboutPicture {
        display: flex;
        max-width: 100%;
        min-width: 80%;
        min-height: 50vh;
        background-image: url(../webp/about-picture.webp);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;

    }

    .aboutText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;

        gap: 2rem;
        font-family: var(--font-familly);
        font-weight: 100;
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--color-white);

    }
}


.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
}

.about-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--color-purple);
    border: none;

}



.all-wilders-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    margin: 3rem auto 3rem;
    justify-content: center;
}

.all-wilders-list {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: auto;
    overflow: auto;
}


/* Footer Section */

footer {
    display: flex;
    flex-direction: column;
}

.svg-transition {
    display: flex;
    border: none;
}

.footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-purple);
    padding-bottom: 10rem;
    gap: 3rem;
    padding: 3rem;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: 200px;
    max-width: 300px;
    content: url(/src/svg/logo-bookofwilders.svg);

}

.footer-logo:hover {
    transform: scale(0.9);
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: 260px;
    max-width: 320px;
}

ul {
    list-style: none;
}

.footer-column-title {
    display: flex;
    color: var(--color-white);
    font-family: var(--font-familly);
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 20px;
    text-decoration: none;
    list-style: none;
}


.footer-about-text {
    display: flex;
    font-family: var(--font-familly);
    color: var(--color-white);
    text-align: left;
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 10px;
    text-decoration: none;
}

.footer-column-links {
    display: flex;
    flex-direction: column;
}

.footerlinks {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    font-family: var(--font-familly);
    text-align: left;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.8rem;
    text-decoration: none;
    list-style-type: none;
}

#game {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}