body{
    background: var(--background-color);
    color: var(--text-color);
}
.header{
    width: 100%;
    min-height: 100vh;
    padding: 0 8%;
    position: relative;
    overflow: hidden;
}
div h1{
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 50px;
}
.toggle-container{
    background: black ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.toggle-container img{
    width: 35px;
    margin-left: 10px
}

